@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Saira:wght@300&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Saira:wght@300&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Rubik&family=Saira:wght@300&display=swap");

/* shoutout to Pablo Garcia https://codepen.io/heypablete/pen/qdIsm */
.getStarted {
  display: flex;
  margin: auto;
  justify-content: center;
}
.inputInformation {
  display: flex;
}
.performanceType {
  height: fit-content;
  margin: auto;
  margin-right: 0px;
  border-radius: 8px;
  background-color: silver;
}
.PerformanceHolder {
  height: 2em;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.Performance {
  background-color: #787A91;
  text-decoration-color: purple;
  text-align: center;
  display: inline;
  margin: 0 auto;
  border-radius: 10px;
  padding: 3px 10px 0 10px;
  position: relative;
}

.Header {
  font-size: 45px;
  font-family: "Saira", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.header-text {
  color: #EEEEEE;
  text-shadow: 0px 2px 3px #555;
}

.input {
  border-radius: 10px;
  background-color: #d6bc9e;
  width: 100px;
  margin-left: 10px;
}

.label {
  margin-right: 10px;
}

.Outperformers th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.Outperformers td {
  font-weight: bold;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.Outperformers {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  font-family: "Rubik", sans-serif;
  margin-top: 5px;
}

.Outperformers td,
.Outperformers th {
  padding: 1em;
}

/* Background-color of the odd rows */
.Outperformers tr:nth-child(odd) {
  background-color: #150050;
}

/* Background-color of the even rows */
.Outperformers tr:nth-child(even) {
  background-color: #191A19;
}

.Outperformers th {
  background-color: #082d0f;
}

.Outperformers td:first-child {
  color: #ffffff;
}

.Outperformers tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
  cursor: pointer;
}

.font {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}
.form {
  text-align: center;
  margin:auto;
}
.positive {
  color: green
}
.negative {
  color: red
}

@media only screen and (max-width: 600px) {
  .PageLayout {
    display: flex;
    flex-direction: column;
  }
  .Header {
    font-size: 45px;
    flex-basis: content;
    font-family: "Saira", sans-serif;
    margin: 0 auto;
    text-align: center;
  }
  .inputInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .performanceType {
    flex: auto;
    margin: auto;
    border-radius: 8px;
    background-color: silver;
  }
  .submit {
    border-radius: 8px;
    background-color: silver;
  }
  .getStarted {
    display: flex;
    margin: auto;
    width: 100vw;
    justify-content: center;
  }
  .Performance {
    background-color: #787A91;
    text-decoration-color: purple;
    text-align: center;
    display: inline;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3px 10px 0 10px;
    position: relative;
  }
  .PerformanceHolder {
    height: 2em;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .header-text {
    color: silver;
    text-shadow: 0px 2px 3px #555;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
  }

  .input {
    border-radius: 10px;
    background-color: #d6bc9e;
    width: 100px;
    margin-left: 10px;
  }

  .label {
    margin: 0.3rem;
  }

  .font {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: white;
  }

  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;
  }
  .positive {
    color: #4E9F3D
  }
  .negative {
    color: #FF0000
  }
}
.submit {
  border-radius: 8px;
  background-color: silver;
  color: #393e43;
}

body {
  background-color: #000000;
  margin: 0;
}
html {
  min-height: 100%;
  min-width: 100%;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 3%;
  padding-inline-start: 0px;
}
